.container {
  display: flex;
  justify-content: left;
  gap: 15px;
}

.button {
  font-size: 18px;
  border: 1px solid black;
  border-radius: 4px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #999999;
}

.button:active {
  background-color: #cccccc;
}
